USE [IEATZ2015]
GO
/****** Object:  Table [dbo].[m33Time]    Script Date: 31/01/2017 11:50:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m33Time](
	[Time] [nvarchar](5) NULL,
	[Blocked] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[m33Time] ([Time], [Blocked]) VALUES (N'08:00', 0)
INSERT [dbo].[m33Time] ([Time], [Blocked]) VALUES (N'08:30', 0)
INSERT [dbo].[m33Time] ([Time], [Blocked]) VALUES (N'09:00', 0)
